
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --cg-color: #1f242d;
    --second-bg-color:#323946;
      --main-color:#3d46c9;
      --white-color:#fff;
      --disabled-color: #fff3;

}


html{
    font-size:62.5% ;
}

body{
    color:  var(--white-color);

}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--cg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
}

header.active{
  animation: show-header 1.5s linear forwards;
  animation-delay: 1.2s;
}

@keyframes show-header{
    100%{
        visibility: visible;
        opacity: 1;
    }
}

.logo{
    font-size: 3rem;
    color: var(--white-color);
    font-weight: 700;
}

nav a{
    font-size: 2rem;
    color: var(--white-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: 0.5s;
}

nav a:hover, nav a.active{
    color: var(--main-color);
}

#menu-icon{
    font-size: 4rem;
    display: none;


}



